<section class="bg-about" id="About">
        <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 col-sm-12">
                <h2 class="fs-2 text-uppercase mb-3"><b>A propos d’InvestiGo :</b></h2>
                <p class="fs-5 mb-3"><b>InvestiGo : 20 000 clients qui nous font confiance</b></p>
                <p class="fs-6 paragraph">Nous sommes une entreprise hollandaise, dont la filiale belge s’est installée à Bruxelles au cours de l’année 2021. Investigo Belgique est actif dans le développement durable (en Afrique?). <span id="dots">...</span> 

                    <p class="mb-3"><span id="more">Chez Investigo, la transparence est un gage de confiance. La satisfaction de nos clients et nous est au centre de nos préoccupations, de ce fait, la transparence est de mise durant toutes les étapes de placement. Chez nous, vous avez la liberté d’investir dans des projets qui impactent positivement la société, tout en fructifiant votre placement.
Nos activités sont régies par l’Autorité de contrôle prudentiel et de résolution (ACPR).
</span></p>
                </p>
                <button class="btn-earn" onclick="readMore()">Lire plus</button>
            </div>
            <div class="col-md-5 col-sm-12 d-flex justify-content-center">
                <img src="../img/building.png" alt="landing-page" class="building-image">
            </div>
        </div>
    </div>
</section>

