
<section class="bg-projects py-5" id="Projects">
  <div class="container">
    <ul>
      <li class="list active" data-filter="all">All</li>  
      <li class="list" data-filter="mobile">mobile</li>  
      <li class="list" data-filter="camera">camera</li>  
      <li class="list" data-filter="watch">watch</li>  
      <li class="list" data-filter="shoe">shoe</li>  
      <li class="list" data-filter="headphone">headphone</li>  
    </ul>

<div class="product">
   <div class="itemBox mobile">
      <div class="card mb-3">
        <img src="../img/project_1.png" class="card-img-top" alt="project_1">
        <div class="card-body">
          <h5 class="card-title">L’Investissement hôtelier</h5>
          <p class="card-text">L’investissement dans l’hôtellerie est un placement qui attire de plus en plus les particuliers en raison de sa fiabilité et le taux de rendement qu’il peut procurer.</p>
          <!-- Button trigger modal 1 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_1">Lire Plus</button>
        </div>
      </div>
     </div>
   <div class="itemBox camera">
     <div class="card mb-3">
        <img src="../img/project_2.png" class="card-img-top" alt="project_2">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Button trigger modal 2 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_2">Modal 2</button>
        </div>
      </div>
   </div>
   <div class="itemBox watch">
      <div class="card mb-3">
        <img src="../img/project_3.png" class="card-img-top" alt="project_3">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Button trigger modal 3 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_3">Modal 3</button>
        </div>
      </div>
   </div>
   <div class="itemBox shoe">
      <div class="card mb-3">
        <img src="../img/project_3.png" class="card-img-top" alt="project_4">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Button trigger modal 4 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_4">Modal 3</button>
        </div>
      </div>
   </div>
   <div class="itemBox headphone">
      <div class="card mb-3">
        <img src="../img/project_3.png" class="card-img-top" alt="project_5">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <!-- Button trigger modal 5 -->
          <button type="button" class="btn-projects" data-bs-toggle="modal" data-bs-target="#myModal_5">Modal 3</button>
        </div>
      </div>
   </div>
</div>

</div>
</section>
<!-- Modal 1 -->


<div class="modal fade" id="myModal_1" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Project ka naam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/modal_1.png" class="img-fluid" alt="video_1">
        <h2 class="my-5"><strong>L’Investissement hôtelier</strong><hr></h2>
        <p class="mb-3">L’hôtellerie est un secteur dynamique qui dispose de nombreux atouts. Un investisseur en quête d’une rentabilité plus élevée peut envisager l’investissement hôtelier en alternative à l’investissement locatif.</p>
        <p class="mb-3">
          L’investissement hôtelier devient plus attractif aujourd’hui avec des tickets d’entrée plus abordables. C’est pour quoi INVESTI GO vient avec une solution a la clé pour monsieur madame tout le monde. INVESTI GO travaille sur des milliers des projet dans le monde mais surtout à Dubaï mais également dans quelques pays en Afrique.  
        </p>
        <h6><b>Maintenant, quels sont les avantages et surtout les inconvénients pour ce type d’investissement ? </b></h6>
        <p class="mb-3">De nombreux véhicules financiers peuvent aujourd’hui permettre d’investir dans des murs d’hôtels.
Si l’investissement hôtelier a toujours été réservé aux institutionnels ou aux investisseurs fortunés. C’est aujourd’hui un investissement accessible aux particuliers par la souscription de produits hôteliers avec des fonds ou des véhicules dédiés.
</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal 2 -->


<div class="modal fade" id="myModal_2" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Project ka naam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/modal_2.png" class="img-fluid" alt="video_2">
        <h2 class="my-5"><strong>Examples</strong><hr></h2>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum blanditiis dolores eum fugiat necessitatibus animi, aliquam sit culpa assumenda non distinctio est aperiam nihil placeat at pariatur explicabo, saepe quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam magni dolorem quae adipisci pariatur veniam distinctio consequuntur non dolorum vitae itaque, officiis mollitia saepe aliquid doloribus quaerat neque soluta facilis. Consectetur, accusamus, unde error animi nulla dignissimos recusandae impedit molestiae ipsa distinctio placeat nisi veritatis numquam nihil ratione velit.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal 3 -->


<div class="modal fade" id="myModal_3" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Project ka naam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/modal_3.png" class="img-fluid" alt="video_3">
        <h2 class="my-5"><strong>Examples</strong><hr></h2>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum blanditiis dolores eum fugiat necessitatibus animi, aliquam sit culpa assumenda non distinctio est aperiam nihil placeat at pariatur explicabo, saepe quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam magni dolorem quae adipisci pariatur veniam distinctio consequuntur non dolorum vitae itaque, officiis mollitia saepe aliquid doloribus quaerat neque soluta facilis. Consectetur, accusamus, unde error animi nulla dignissimos recusandae impedit molestiae ipsa distinctio placeat nisi veritatis numquam nihil ratione velit.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal 4 -->


<div class="modal fade" id="myModal_4" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Project ka naam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/modal_3.png" class="img-fluid" alt="video_3">
        <h2 class="my-5"><strong>Examples</strong><hr></h2>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum blanditiis dolores eum fugiat necessitatibus animi, aliquam sit culpa assumenda non distinctio est aperiam nihil placeat at pariatur explicabo, saepe quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam magni dolorem quae adipisci pariatur veniam distinctio consequuntur non dolorum vitae itaque, officiis mollitia saepe aliquid doloribus quaerat neque soluta facilis. Consectetur, accusamus, unde error animi nulla dignissimos recusandae impedit molestiae ipsa distinctio placeat nisi veritatis numquam nihil ratione velit.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal 5 -->


<div class="modal fade" id="myModal_5" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Project ka naam</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img src="../img/modal_3.png" class="img-fluid" alt="video_3">
        <h2 class="my-5"><strong>Examples</strong><hr></h2>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <h3>Modal components</h3>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action.</p>
        <p class="mb-3">Below is a <em>static</em> modal example (meaning its <code>position</code> and <code>display</code> have been overridden). Included are the modal header, modal body (required for <code>padding</code>), and modal footer (optional). We ask that you include modal headers with dismiss actions whenever possible, or provide another explicit dismiss action. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum blanditiis dolores eum fugiat necessitatibus animi, aliquam sit culpa assumenda non distinctio est aperiam nihil placeat at pariatur explicabo, saepe quod! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa totam magni dolorem quae adipisci pariatur veniam distinctio consequuntur non dolorum vitae itaque, officiis mollitia saepe aliquid doloribus quaerat neque soluta facilis. Consectetur, accusamus, unde error animi nulla dignissimos recusandae impedit molestiae ipsa distinctio placeat nisi veritatis numquam nihil ratione velit.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

