

      <div class="swiper" id="Testimonials">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="single-box">
                  <div class="image-area"><img src="../img/janu.png" alt=""></div>
                    <div class="image-text">
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="far fa-star star"></i></span>
                          <h4>Jackline</h4>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores,</p>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="single-box">
                  <div class="image-area"><img src="../img/janu.png" alt=""></div>
                    <div class="image-text">
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="far fa-star star"></i></span>
                          <h4>Jackline</h4>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores,</p>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="single-box">
                  <div class="image-area"><img src="../img/janu.png" alt=""></div>
                    <div class="image-text">
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="far fa-star star"></i></span>
                          <h4>Jackline</h4>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores,</p>
                      </div>
                  </div>
              </div>
              <div class="swiper-slide">
                <div class="single-box">
                  <div class="image-area"><img src="../img/janu.png" alt=""></div>
                    <div class="image-text">
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="fas fa-star star"></i></span>
                          <span><i class="far fa-star star"></i></span>
                          <h4>Jackline</h4>
                          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut sunt asperiores,</p>
                      </div>
                  </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>